<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Mes appareils</h2>
      <ul class="list-group">
        <app-appareil></app-appareil>
        <app-appareil></app-appareil>
      </ul>
    </div>
  </div>
</div>

<h3>List of hereos</h3>
<ul>
  <li *ngFor="let item of heroes">
    {{ item }}
  </li>
</ul>

<app-form-user></app-form-user>

<br>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <ul class="list-group">
        <!-- <app-first userName="{{userName}}" lastName="{{lastName}}"></app-first> -->
        <app-first [userName]="userName" [lastName]="lastName" (ratingUserName)="onRatingUserNameClicked($event);"
          (ratingLastName)="onRatingLastNameClicked($event);"></app-first> <!-- [] propertybyname // () Event binding-->
      </ul>
    </div>
  </div>
</div>
<br>

<p>test input()=> {{ userName }} {{lastName}}</p>

<router-outlet></router-outlet>